flows.json
[
    {
        "id": "164db5ed380367c7",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "878502a7092bfd85",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "51eadac55e1d078f",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "833e43aaf8b1e2bb",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c53d46b4fc31c1f6",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "27b50404ac8d241e",
        "type": "tab",
        "label": "Flow 6",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b38c4b750ec14869",
        "type": "tab",
        "label": "Flow 7",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "aef745b8f4254721",
        "type": "tab",
        "label": "Flow 8",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "81d59507818080f8",
        "type": "tab",
        "label": "Flow 9",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d58318a28571c3cf",
        "type": "tab",
        "label": "Flow 10",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9b351668549ca224",
        "type": "tab",
        "label": "Flow 11",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8e9fbbf1ee9a838e",
        "type": "tab",
        "label": "Flow 12",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f23978eb2f5963eb",
        "type": "tab",
        "label": "Flow 13",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cf0d66e41a8dc232",
        "type": "tab",
        "label": "ModBus Intro",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1b84072f22ee2191",
        "type": "tab",
        "label": "More Modbus",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "851bf53ee0048f6b",
        "type": "tab",
        "label": "Modbus DLog",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4d7685f1362fd873",
        "type": "tab",
        "label": "dataSQLite",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8e0c0ac424cfc508",
        "type": "tab",
        "label": "ModSim",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a0e1484597e10ac4",
        "type": "tab",
        "label": "Flow 18",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a03ac9dde6adf6f8",
        "type": "junction",
        "z": "4d7685f1362fd873",
        "x": 340,
        "y": 120,
        "wires": [
            [
                "cbc2337b447d67ad"
            ]
        ]
    },
    {
        "id": "e6fddbf5adf154ca",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "9fcdc2f5153886d0",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "5129be689f1a329c",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "e6fddbf5adf154ca",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "9fcdc2f5153886d0",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "073d1b3bf5f36c27",
        "type": "ui-group",
        "name": "PC Health",
        "page": "5129be689f1a329c",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "afce7fa8371e7a7d",
        "type": "modbus-client",
        "name": "Modclient",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": "10502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "6864779fe8c3baf7",
        "type": "modbus-client",
        "name": "modclient503",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": "10503",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "7c8b8a38127120a3",
        "type": "modbus-client",
        "name": "504C",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": "10504",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "22ae621ba439b029",
        "type": "sqlitedb",
        "db": "mysqlite00.db",
        "mode": "RWC"
    },
    {
        "id": "cfaf5b1b490d1f1f",
        "type": "modbus-client",
        "name": "Local Sim",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": "10505",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "7e0e8d275d67854b",
        "type": "modbus-client",
        "name": "LocSim2",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": "10505",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "8e4ede670a6d7e3b",
        "type": "inject",
        "z": "164db5ed380367c7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 360,
        "y": 160,
        "wires": [
            [
                "2a3155bfb16fa918"
            ]
        ]
    },
    {
        "id": "2a3155bfb16fa918",
        "type": "debug",
        "z": "164db5ed380367c7",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 160,
        "wires": []
    },
    {
        "id": "f2b1bca3dc2cefb8",
        "type": "inject",
        "z": "878502a7092bfd85",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 160,
        "wires": [
            [
                "58da3e579c5b8e55"
            ]
        ]
    },
    {
        "id": "58da3e579c5b8e55",
        "type": "function",
        "z": "878502a7092bfd85",
        "name": "function 1",
        "func": "// The initial payload is a timestamp in milliseconds\nlet date = new Date(msg.payload);\n\n// We are converting the timestamp to a human-readable ISO string\nmsg.payload = `Current Time: ${date.toISOString()}`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 160,
        "wires": [
            [
                "e7df42b69c4ff4c2"
            ]
        ]
    },
    {
        "id": "e7df42b69c4ff4c2",
        "type": "debug",
        "z": "878502a7092bfd85",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 160,
        "wires": []
    },
    {
        "id": "df9a25440b0803c3",
        "type": "inject",
        "z": "51eadac55e1d078f",
        "name": "Test Temp = 22",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"city\": \"Paris\", \"temp\": 22}",
        "payloadType": "json",
        "x": 220,
        "y": 180,
        "wires": [
            [
                "7038c0463126df3d"
            ]
        ]
    },
    {
        "id": "91e063ee1e876fec",
        "type": "inject",
        "z": "51eadac55e1d078f",
        "name": "Test Temp = 30",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"city\": \"Madrid\", \"temp\": 30}",
        "payloadType": "json",
        "x": 220,
        "y": 100,
        "wires": [
            [
                "7038c0463126df3d"
            ]
        ]
    },
    {
        "id": "7038c0463126df3d",
        "type": "switch",
        "z": "51eadac55e1d078f",
        "name": "TempRouter",
        "property": "payload.temp",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "25",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "25",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 140,
        "wires": [
            [
                "3902bbd31dd90e8c"
            ],
            [
                "a9d7c141eedf4745"
            ]
        ]
    },
    {
        "id": "3902bbd31dd90e8c",
        "type": "change",
        "z": "51eadac55e1d078f",
        "name": "HotPayload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"Hot!\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 120,
        "wires": [
            [
                "beefd9fbc0c8a309"
            ]
        ]
    },
    {
        "id": "a9d7c141eedf4745",
        "type": "change",
        "z": "51eadac55e1d078f",
        "name": "ColdPayload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"Cold\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 160,
        "wires": [
            [
                "c6228774e1d8fff7"
            ]
        ]
    },
    {
        "id": "beefd9fbc0c8a309",
        "type": "debug",
        "z": "51eadac55e1d078f",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 119.99999999999999,
        "wires": []
    },
    {
        "id": "c6228774e1d8fff7",
        "type": "debug",
        "z": "51eadac55e1d078f",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 160,
        "wires": []
    },
    {
        "id": "46376a27bbcfbb3e",
        "type": "inject",
        "z": "833e43aaf8b1e2bb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "d6a9c0336aeac504"
            ]
        ]
    },
    {
        "id": "d6a9c0336aeac504",
        "type": "http request",
        "z": "833e43aaf8b1e2bb",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://catfact.ninja/fact",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 390,
        "y": 160,
        "wires": [
            [
                "6c3e146298dc2a63",
                "b77cbd9bcaac893e"
            ]
        ]
    },
    {
        "id": "4b0d8cb046cffdc8",
        "type": "debug",
        "z": "833e43aaf8b1e2bb",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 160,
        "wires": []
    },
    {
        "id": "6c3e146298dc2a63",
        "type": "change",
        "z": "833e43aaf8b1e2bb",
        "name": "GetFact",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.fact",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 160,
        "wires": [
            [
                "4b0d8cb046cffdc8"
            ]
        ]
    },
    {
        "id": "b77cbd9bcaac893e",
        "type": "debug",
        "z": "833e43aaf8b1e2bb",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 280,
        "wires": []
    },
    {
        "id": "aab50282ecec0884",
        "type": "http in",
        "z": "c53d46b4fc31c1f6",
        "name": "Login",
        "url": "/log",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "875668c65eb679c3"
            ]
        ]
    },
    {
        "id": "875668c65eb679c3",
        "type": "function",
        "z": "c53d46b4fc31c1f6",
        "name": "function 2",
        "func": "// Extract the IP of the requester (from req.ip) and the current timestamp\nmsg.payload = `[${new Date().toISOString()}] Visited by IP: ${msg.req.ip}\\n`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 180,
        "wires": [
            [
                "000b7a6cb862e95c",
                "7b2febbecfacd05b"
            ]
        ]
    },
    {
        "id": "000b7a6cb862e95c",
        "type": "file",
        "z": "c53d46b4fc31c1f6",
        "name": "filewrite",
        "filename": "d:\\gitFolders\\nodeflows\\visits.log",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 680,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "7b2febbecfacd05b",
        "type": "http response",
        "z": "c53d46b4fc31c1f6",
        "name": "OutResponse",
        "statusCode": "200",
        "headers": {
            "content-type": "application/json",
            "Status": "Logged"
        },
        "x": 520,
        "y": 300,
        "wires": []
    },
    {
        "id": "050142c71da6f5dd",
        "type": "OS",
        "z": "27b50404ac8d241e",
        "name": "",
        "x": 450,
        "y": 200,
        "wires": [
            [
                "7910a081a9fdce73"
            ]
        ]
    },
    {
        "id": "f1809ee838a2253b",
        "type": "CPUs",
        "z": "27b50404ac8d241e",
        "name": "",
        "x": 450,
        "y": 260,
        "wires": [
            [
                "7910a081a9fdce73"
            ]
        ]
    },
    {
        "id": "484401e2266a38fb",
        "type": "inject",
        "z": "27b50404ac8d241e",
        "name": "RepeatInject",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 220,
        "wires": [
            [
                "050142c71da6f5dd",
                "f1809ee838a2253b",
                "33125fbb063f6b15"
            ]
        ]
    },
    {
        "id": "33125fbb063f6b15",
        "type": "Uptime",
        "z": "27b50404ac8d241e",
        "name": "",
        "x": 460,
        "y": 320,
        "wires": [
            [
                "7910a081a9fdce73"
            ]
        ]
    },
    {
        "id": "7910a081a9fdce73",
        "type": "debug",
        "z": "27b50404ac8d241e",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 240,
        "wires": []
    },
    {
        "id": "235fecc0bc1cd20e",
        "type": "inject",
        "z": "b38c4b750ec14869",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 100,
        "wires": [
            [
                "eaf565c48dec73b3"
            ]
        ]
    },
    {
        "id": "eaf565c48dec73b3",
        "type": "exec",
        "z": "b38c4b750ec14869",
        "command": "ipconfig",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "SysInfo",
        "x": 400,
        "y": 120,
        "wires": [
            [
                "6b6681ddd48ea8ae"
            ],
            [],
            []
        ]
    },
    {
        "id": "6b6681ddd48ea8ae",
        "type": "function",
        "z": "b38c4b750ec14869",
        "name": "function 3",
        "func": "// Look for an IPv4 address pattern (e.g., \"IPv4 Address. . . . . . . . . . . : 192.168.1.100\")\nconst str = msg.payload.toString();\nconst regex = /IPv4 Address[^:]+:\\s*([0-9.]+)/i; \nconst match = str.match(regex);\n\nif (match && match.length > 1) {\n    msg.payload = \"Your local IP is: \" + match[1];\n} else {\n    msg.payload = \"Could not find IP.\";\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 120,
        "wires": [
            [
                "aa8fde505cd56358"
            ]
        ]
    },
    {
        "id": "aa8fde505cd56358",
        "type": "debug",
        "z": "b38c4b750ec14869",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 120,
        "wires": []
    },
    {
        "id": "565aee10bf5030a7",
        "type": "exec",
        "z": "aef745b8f4254721",
        "command": "wmic cpu get loadpercentage",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Get load",
        "x": 400,
        "y": 80,
        "wires": [
            [
                "187f27015fe44df1"
            ],
            [],
            []
        ]
    },
    {
        "id": "cba734d1b344a584",
        "type": "inject",
        "z": "aef745b8f4254721",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 80,
        "wires": [
            [
                "565aee10bf5030a7"
            ]
        ]
    },
    {
        "id": "187f27015fe44df1",
        "type": "function",
        "z": "aef745b8f4254721",
        "name": "function 4",
        "func": "// Remove non-numeric characters (like \"LoadPercentage\")\nconst loadStr = msg.payload.toString().replace(/[^0-9]/g, '');\nmsg.payload = parseInt(loadStr, 10);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 80,
        "wires": [
            [
                "e83634837f1b5a15",
                "c471a0800fe0a3af"
            ]
        ]
    },
    {
        "id": "e83634837f1b5a15",
        "type": "ui-gauge",
        "z": "aef745b8f4254721",
        "name": "PC Health",
        "group": "073d1b3bf5f36c27",
        "order": 1,
        "value": "payload",
        "valueType": "msg",
        "width": "4",
        "height": "4",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "gauge",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "4",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "7",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "10",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 870,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "c471a0800fe0a3af",
        "type": "debug",
        "z": "aef745b8f4254721",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 220,
        "wires": []
    },
    {
        "id": "ad717fba96995853",
        "type": "http in",
        "z": "81d59507818080f8",
        "name": "ToggleMe",
        "url": "/toggle",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 100,
        "wires": [
            [
                "5c2d21795c081752"
            ]
        ]
    },
    {
        "id": "5c2d21795c081752",
        "type": "function",
        "z": "81d59507818080f8",
        "name": "function 5",
        "func": "// Retrieve the current state from flow context (default to false if it doesn't exist yet)\nlet currentState = flow.get(\"mySwitchState\") || false;\n\n// Toggle it\nlet newState = !currentState;\n\n// Save it back to context so the next run remembers it\nflow.set(\"mySwitchState\", newState);\n\nmsg.payload = `The switch is now: ${newState ? 'ON' : 'OFF'}`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 180,
        "wires": [
            [
                "c424d0c7cfd94d33"
            ]
        ]
    },
    {
        "id": "c424d0c7cfd94d33",
        "type": "http response",
        "z": "81d59507818080f8",
        "name": "Output",
        "statusCode": "",
        "headers": {},
        "x": 590,
        "y": 100,
        "wires": []
    },
    {
        "id": "fd6990ad82957995",
        "type": "debug",
        "z": "d58318a28571c3cf",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 100,
        "wires": []
    },
    {
        "id": "35ccef743789c124",
        "type": "inject",
        "z": "d58318a28571c3cf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 100,
        "wires": [
            [
                "f62b72cff90dc496"
            ]
        ]
    },
    {
        "id": "f62b72cff90dc496",
        "type": "http request",
        "z": "d58318a28571c3cf",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://this-url-is-invalid-and-fake.com",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 310,
        "y": 100,
        "wires": [
            [
                "fd6990ad82957995"
            ]
        ]
    },
    {
        "id": "136c65e7469b6b31",
        "type": "catch",
        "z": "d58318a28571c3cf",
        "name": "",
        "scope": [
            "f62b72cff90dc496"
        ],
        "uncaught": false,
        "x": 370,
        "y": 200,
        "wires": [
            [
                "4d78191bca7da008"
            ]
        ]
    },
    {
        "id": "4d78191bca7da008",
        "type": "function",
        "z": "d58318a28571c3cf",
        "name": "function 6",
        "func": "msg.payload = `GLOBAL ERROR CAUGHT!\nNode ID: ${msg.error.source.id}\nError Message: ${msg.error.message}`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 200,
        "wires": [
            [
                "b77c69714679fff5",
                "fd6990ad82957995"
            ]
        ]
    },
    {
        "id": "b77c69714679fff5",
        "type": "file",
        "z": "d58318a28571c3cf",
        "name": "Loger",
        "filename": "d:\\gitFolders\\nodeflows\\error.log",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 990,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "d45e161aa372cb38",
        "type": "http in",
        "z": "9b351668549ca224",
        "name": "MCPTools",
        "url": "/mcp/tools",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 280,
        "wires": [
            [
                "c99b6e893e072de5"
            ]
        ]
    },
    {
        "id": "c99b6e893e072de5",
        "type": "template",
        "z": "9b351668549ca224",
        "name": "ToolTemplate",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n  \"tools\": [\n    {\n      \"name\": \"get_sys_health\",\n      \"description\": \"Returns the CPU and memory layout of the host Windows machine.\",\n      \"inputSchema\": { \"type\": \"object\", \"properties\": {} }\n    }\n  ]\n}",
        "output": "str",
        "x": 510,
        "y": 200,
        "wires": [
            [
                "029babdb07326c78"
            ]
        ]
    },
    {
        "id": "029babdb07326c78",
        "type": "http response",
        "z": "9b351668549ca224",
        "name": "Mcpresponse",
        "statusCode": "",
        "headers": {},
        "x": 780,
        "y": 280,
        "wires": []
    },
    {
        "id": "4c37f57d14046829",
        "type": "exec",
        "z": "8e9fbbf1ee9a838e",
        "command": "systeminfo",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 510,
        "y": 140,
        "wires": [
            [
                "e60c8427ece3b3e2",
                "762e2c5da0579e13"
            ],
            [],
            []
        ]
    },
    {
        "id": "e60c8427ece3b3e2",
        "type": "function",
        "z": "8e9fbbf1ee9a838e",
        "name": "function 7",
        "func": "msg.payload = \"Extracted Host Spec Data: \\n\" + msg.payload.toString().substring(0, 500);\n// The MCP protocol expects the result to be correctly wrapped, which the MCP Return node usually handles.\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 120,
        "wires": [
            [
                "7c3ef3844da8ffde"
            ]
        ]
    },
    {
        "id": "762e2c5da0579e13",
        "type": "debug",
        "z": "8e9fbbf1ee9a838e",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 300,
        "wires": []
    },
    {
        "id": "e9213ca5cd60329d",
        "type": "http in",
        "z": "8e9fbbf1ee9a838e",
        "name": "pc_health",
        "url": "/api/pc_health",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "4c37f57d14046829"
            ]
        ]
    },
    {
        "id": "7c3ef3844da8ffde",
        "type": "http response",
        "z": "8e9fbbf1ee9a838e",
        "name": "PCOutHealth",
        "statusCode": "",
        "headers": {},
        "x": 990,
        "y": 140,
        "wires": []
    },
    {
        "id": "992c1ac727b45130",
        "type": "OS",
        "z": "f23978eb2f5963eb",
        "name": "",
        "x": 710,
        "y": 380,
        "wires": [
            [
                "4acef3c6ba647504"
            ]
        ]
    },
    {
        "id": "42d47cae405d2c2d",
        "type": "debug",
        "z": "f23978eb2f5963eb",
        "name": "debug 13",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 380,
        "wires": []
    },
    {
        "id": "030d75d7f174884c",
        "type": "function",
        "z": "f23978eb2f5963eb",
        "name": "function 11",
        "func": "msg.payload = global.get(\"name\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 540,
        "wires": [
            [
                "ee8e238269a920e8"
            ]
        ]
    },
    {
        "id": "d453fd57ead8efd5",
        "type": "inject",
        "z": "f23978eb2f5963eb",
        "name": "Entry",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 490,
        "y": 380,
        "wires": [
            [
                "992c1ac727b45130"
            ]
        ]
    },
    {
        "id": "dc882bbf8747d731",
        "type": "http in",
        "z": "f23978eb2f5963eb",
        "name": "",
        "url": "/rok",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 700,
        "y": 660,
        "wires": [
            [
                "030d75d7f174884c"
            ]
        ]
    },
    {
        "id": "ee8e238269a920e8",
        "type": "http response",
        "z": "f23978eb2f5963eb",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1190,
        "y": 660,
        "wires": []
    },
    {
        "id": "4acef3c6ba647504",
        "type": "function",
        "z": "f23978eb2f5963eb",
        "name": "function 8",
        "func": "global.set(\"name\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 380,
        "wires": [
            [
                "42d47cae405d2c2d"
            ]
        ]
    },
    {
        "id": "0bc4450f07653f2a",
        "type": "modbus-server",
        "z": "cf0d66e41a8dc232",
        "name": "",
        "logEnabled": false,
        "hostname": "0.0.0.0",
        "serverPort": 10502,
        "responseDelay": 100,
        "delayUnit": "ms",
        "coilsBufferSize": "100",
        "holdingBufferSize": "100",
        "inputBufferSize": 10000,
        "discreteBufferSize": 10000,
        "showErrors": false,
        "showStatusActivities": false,
        "x": 160,
        "y": 400,
        "wires": [
            [
                "7e2fcd310809deb2"
            ],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "753b04a01e4f86cc",
        "type": "modbus-read",
        "z": "cf0d66e41a8dc232",
        "name": "HoldingRead",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "5",
        "rate": "30",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "afce7fa8371e7a7d",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 330,
        "y": 500,
        "wires": [
            [],
            [
                "20f23b628aa4e9a5"
            ]
        ]
    },
    {
        "id": "20f23b628aa4e9a5",
        "type": "debug",
        "z": "cf0d66e41a8dc232",
        "name": "debug 12",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 500,
        "wires": []
    },
    {
        "id": "ab42ae740aa84824",
        "type": "modbus-flex-write",
        "z": "cf0d66e41a8dc232",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "server": "afce7fa8371e7a7d",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 730,
        "y": 240,
        "wires": [
            [],
            [
                "97683e125c453383"
            ]
        ]
    },
    {
        "id": "97683e125c453383",
        "type": "debug",
        "z": "cf0d66e41a8dc232",
        "name": "debug 14",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 240,
        "wires": []
    },
    {
        "id": "eb8c9cec57e4fa3e",
        "type": "inject",
        "z": "cf0d66e41a8dc232",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 200,
        "wires": [
            [
                "a4ecfc357e3ff66b"
            ]
        ]
    },
    {
        "id": "a4ecfc357e3ff66b",
        "type": "function",
        "z": "cf0d66e41a8dc232",
        "name": "function 9",
        "func": "msg.payload = { value: msg.payload, 'fc': 5, 'unitid': 1, 'address': 0 , 'quantity': 1 } \nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 240,
        "wires": [
            [
                "ab42ae740aa84824"
            ]
        ]
    },
    {
        "id": "7e2fcd310809deb2",
        "type": "debug",
        "z": "cf0d66e41a8dc232",
        "name": "debug 15",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 380,
        "wires": []
    },
    {
        "id": "19dfe1914af93bce",
        "type": "inject",
        "z": "cf0d66e41a8dc232",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 60,
        "y": 300,
        "wires": [
            [
                "0bc4450f07653f2a"
            ]
        ]
    },
    {
        "id": "13cfa8c19e3b6424",
        "type": "inject",
        "z": "cf0d66e41a8dc232",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[100, 200, 300, 400, 500]",
        "payloadType": "json",
        "x": 110,
        "y": 740,
        "wires": [
            [
                "4a3679d2fecf68b4"
            ]
        ]
    },
    {
        "id": "4a3679d2fecf68b4",
        "type": "modbus-write",
        "z": "cf0d66e41a8dc232",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "MHoldingRegisters",
        "adr": "0",
        "quantity": "5",
        "server": "afce7fa8371e7a7d",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 260,
        "y": 700,
        "wires": [
            [
                "82cf0af90ae2b625"
            ],
            []
        ]
    },
    {
        "id": "82cf0af90ae2b625",
        "type": "debug",
        "z": "cf0d66e41a8dc232",
        "name": "debug 16",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 700,
        "wires": []
    },
    {
        "id": "4cd321e60bc75bb7",
        "type": "modbus-server",
        "z": "1b84072f22ee2191",
        "name": "",
        "logEnabled": false,
        "hostname": "0.0.0.0",
        "serverPort": "10503",
        "responseDelay": 100,
        "delayUnit": "ms",
        "coilsBufferSize": "100",
        "holdingBufferSize": "100",
        "inputBufferSize": 10000,
        "discreteBufferSize": 10000,
        "showErrors": false,
        "showStatusActivities": false,
        "x": 120,
        "y": 260,
        "wires": [
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "f8a2eeaaf53f9984",
        "type": "inject",
        "z": "1b84072f22ee2191",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[     {\"unitid\": 1, \"address\": 0, \"quantity\": 5},     {\"unitid\": 1, \"address\": 10, \"quantity\": 3},     {\"unitid\": 1, \"address\": 20, \"quantity\": 2} ]",
        "payloadType": "json",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "5179e77a9cd8a237"
            ]
        ]
    },
    {
        "id": "5179e77a9cd8a237",
        "type": "split",
        "z": "1b84072f22ee2191",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 330,
        "y": 140,
        "wires": [
            [
                "f246f04f320422ee"
            ]
        ]
    },
    {
        "id": "f246f04f320422ee",
        "type": "function",
        "z": "1b84072f22ee2191",
        "name": "function 10",
        "func": "msg.payload = {\n    unitid: msg.payload.unitid,\n    fc: 3,\n    address: msg.payload.address,\n    quantity: msg.payload.quantity\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 140,
        "wires": [
            [
                "a9f22d959f18c639"
            ]
        ]
    },
    {
        "id": "a9f22d959f18c639",
        "type": "modbus-flex-getter",
        "z": "1b84072f22ee2191",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "server": "6864779fe8c3baf7",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "x": 570,
        "y": 280,
        "wires": [
            [
                "95b71ad94eefdc5e"
            ],
            []
        ]
    },
    {
        "id": "95b71ad94eefdc5e",
        "type": "debug",
        "z": "1b84072f22ee2191",
        "name": "debug 17",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 260,
        "wires": []
    },
    {
        "id": "3f14db6965a5955c",
        "type": "inject",
        "z": "1b84072f22ee2191",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 150,
        "y": 420,
        "wires": [
            [
                "282f47f85b0d6e5f"
            ]
        ]
    },
    {
        "id": "282f47f85b0d6e5f",
        "type": "modbus-write",
        "z": "1b84072f22ee2191",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "1",
        "server": "6864779fe8c3baf7",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 330,
        "y": 480,
        "wires": [
            [
                "9f7e0bbf6b44e7b0"
            ],
            []
        ]
    },
    {
        "id": "9f7e0bbf6b44e7b0",
        "type": "debug",
        "z": "1b84072f22ee2191",
        "name": "debug 18",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 480,
        "wires": []
    },
    {
        "id": "327cf68290c5b282",
        "type": "inject",
        "z": "1b84072f22ee2191",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 130,
        "y": 520,
        "wires": [
            [
                "282f47f85b0d6e5f"
            ]
        ]
    },
    {
        "id": "e5488efaad9cfc01",
        "type": "inject",
        "z": "1b84072f22ee2191",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[true, false, true, true, false]",
        "payloadType": "json",
        "x": 130,
        "y": 600,
        "wires": [
            [
                "ce124e3a0c8bce33"
            ]
        ]
    },
    {
        "id": "ce124e3a0c8bce33",
        "type": "modbus-write",
        "z": "1b84072f22ee2191",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "MCoils",
        "adr": "0",
        "quantity": "5",
        "server": "6864779fe8c3baf7",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 320,
        "y": 600,
        "wires": [
            [
                "632eb3a8d2e1d493"
            ],
            []
        ]
    },
    {
        "id": "632eb3a8d2e1d493",
        "type": "debug",
        "z": "1b84072f22ee2191",
        "name": "debug 19",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 600,
        "wires": []
    },
    {
        "id": "e52c8d2602e8f7a0",
        "type": "modbus-read",
        "z": "1b84072f22ee2191",
        "name": "",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "5",
        "rate": "5",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "6864779fe8c3baf7",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 120,
        "y": 700,
        "wires": [
            [
                "3ac4d57c6260429f"
            ],
            []
        ]
    },
    {
        "id": "3ac4d57c6260429f",
        "type": "debug",
        "z": "1b84072f22ee2191",
        "name": "debug 20",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 720,
        "wires": []
    },
    {
        "id": "e830e6ace1739d0a",
        "type": "modbus-server",
        "z": "851bf53ee0048f6b",
        "name": "",
        "logEnabled": false,
        "hostname": "0.0.0.0",
        "serverPort": "10504",
        "responseDelay": 100,
        "delayUnit": "ms",
        "coilsBufferSize": "100",
        "holdingBufferSize": "100",
        "inputBufferSize": 10000,
        "discreteBufferSize": 10000,
        "showErrors": false,
        "showStatusActivities": false,
        "x": 80,
        "y": 240,
        "wires": [
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "b885bb21bc3228a9",
        "type": "modbus-read",
        "z": "851bf53ee0048f6b",
        "name": "",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "4",
        "rate": "10",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "7c8b8a38127120a3",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 300,
        "y": 300,
        "wires": [
            [
                "877f3219def305ad"
            ],
            []
        ]
    },
    {
        "id": "12ecab64e658b6df",
        "type": "debug",
        "z": "851bf53ee0048f6b",
        "name": "debug 21",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 280,
        "wires": []
    },
    {
        "id": "877f3219def305ad",
        "type": "function",
        "z": "851bf53ee0048f6b",
        "name": "function 12",
        "func": "let timestamp = new Date().toISOString();\nlet values = msg.payload.join(\",\");\nmsg.payload = `${timestamp},${values}\\n`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 320,
        "wires": [
            [
                "12ecab64e658b6df",
                "de45f8e1be63a499"
            ]
        ]
    },
    {
        "id": "de45f8e1be63a499",
        "type": "file",
        "z": "851bf53ee0048f6b",
        "name": "writeKSV",
        "filename": "d:\\gitFolders\\nodeflows\\modbus_log.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 660,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "b1b46d63f290ec6a",
        "type": "inject",
        "z": "851bf53ee0048f6b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "25",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "`timestamp,reg0,reg1,reg2,reg3\\n`",
        "payloadType": "str",
        "x": 310,
        "y": 460,
        "wires": [
            [
                "de45f8e1be63a499"
            ]
        ]
    },
    {
        "id": "0543d630ce62b566",
        "type": "http in",
        "z": "851bf53ee0048f6b",
        "name": "modregs",
        "url": "/api/modbus/registers",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 680,
        "wires": [
            [
                "93a858641a06daea"
            ]
        ]
    },
    {
        "id": "93a858641a06daea",
        "type": "modbus-getter",
        "z": "851bf53ee0048f6b",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "10",
        "server": "7c8b8a38127120a3",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "x": 100,
        "y": 520,
        "wires": [
            [
                "4ca45f15b0fbef5b"
            ],
            []
        ]
    },
    {
        "id": "4ca45f15b0fbef5b",
        "type": "function",
        "z": "851bf53ee0048f6b",
        "name": "function 13",
        "func": "msg.payload = {\n    timestamp: new Date().toISOString(),\n    device: \"PLC-01\",\n    registers: msg.payload,\n    status: \"ok\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 520,
        "wires": [
            [
                "483e1abcfd1f51c0"
            ]
        ]
    },
    {
        "id": "a8281caa52862bc1",
        "type": "debug",
        "z": "851bf53ee0048f6b",
        "name": "debug 22",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 520,
        "wires": []
    },
    {
        "id": "483e1abcfd1f51c0",
        "type": "http response",
        "z": "851bf53ee0048f6b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 370,
        "y": 680,
        "wires": []
    },
    {
        "id": "a6f97975b61bcaa8",
        "type": "inject",
        "z": "4d7685f1362fd873",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "a03ac9dde6adf6f8"
            ]
        ]
    },
    {
        "id": "cbc2337b447d67ad",
        "type": "function",
        "z": "4d7685f1362fd873",
        "name": "function 14",
        "func": "msg.topic = `CREATE TABLE IF NOT EXISTS modbus_readings (\n    id INTEGER PRIMARY KEY AUTOINCREMENT,\n    timestamp TEXT NOT NULL,\n    temperature REAL,\n    pressure REAL,\n    motor_speed INTEGER,\n    created_at DATETIME DEFAULT CURRENT_TIMESTAMP\n)`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 120,
        "wires": [
            [
                "c1d2ecf07b1cf4ac"
            ]
        ]
    },
    {
        "id": "c1d2ecf07b1cf4ac",
        "type": "sqlite",
        "z": "4d7685f1362fd873",
        "mydb": "22ae621ba439b029",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 720,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "03adc193bf0e8222",
        "type": "inject",
        "z": "4d7685f1362fd873",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "e90f17dc11d077ca",
        "type": "modbus-read",
        "z": "4d7685f1362fd873",
        "name": "",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "5",
        "rate": "10",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "7c8b8a38127120a3",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 370,
        "y": 300,
        "wires": [
            [
                "189b4c18a07a9d9c"
            ],
            []
        ]
    },
    {
        "id": "189b4c18a07a9d9c",
        "type": "function",
        "z": "4d7685f1362fd873",
        "name": "function 15",
        "func": "let temp = msg.payload[0] / 10;\nlet pressure = msg.payload[1] / 100;\nlet speed = msg.payload[2];\nmsg.topic = `INSERT INTO modbus_readings (timestamp, temperature, pressure, motor_speed)\n             VALUES ('${new Date().toISOString()}', ${temp}, ${pressure}, ${speed})`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 280,
        "wires": [
            [
                "114741fcdafd0daa"
            ]
        ]
    },
    {
        "id": "114741fcdafd0daa",
        "type": "sqlite",
        "z": "4d7685f1362fd873",
        "mydb": "22ae621ba439b029",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 870,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "ebb4a132ac147fcb",
        "type": "http in",
        "z": "4d7685f1362fd873",
        "name": "latestquery",
        "url": "/latest",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 460,
        "wires": [
            [
                "daaf48ab3732d697"
            ]
        ]
    },
    {
        "id": "daaf48ab3732d697",
        "type": "function",
        "z": "4d7685f1362fd873",
        "name": "function 16",
        "func": "msg.topic = \"SELECT * FROM modbus_readings ORDER BY id DESC LIMIT 1\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 400,
        "wires": [
            [
                "e3ebcc1d176be44b"
            ]
        ]
    },
    {
        "id": "e3ebcc1d176be44b",
        "type": "sqlite",
        "z": "4d7685f1362fd873",
        "mydb": "22ae621ba439b029",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 580,
        "y": 460,
        "wires": [
            [
                "6486df5bd435b6c9"
            ]
        ]
    },
    {
        "id": "6486df5bd435b6c9",
        "type": "http response",
        "z": "4d7685f1362fd873",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 770,
        "y": 460,
        "wires": []
    },
    {
        "id": "339aa63a0043d4b0",
        "type": "http in",
        "z": "4d7685f1362fd873",
        "name": "rangequery",
        "url": "/query/range",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 243.1999969482422,
        "y": 593.2000122070312,
        "wires": [
            [
                "d640fa790998d89b"
            ]
        ]
    },
    {
        "id": "d640fa790998d89b",
        "type": "function",
        "z": "4d7685f1362fd873",
        "name": "function 17",
        "func": "// Last 100 readings\nmsg.topic = \"SELECT * FROM modbus_readings ORDER BY id DESC LIMIT 100\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 520,
        "wires": [
            [
                "25fdcdd725c23122"
            ]
        ]
    },
    {
        "id": "25fdcdd725c23122",
        "type": "sqlite",
        "z": "4d7685f1362fd873",
        "mydb": "22ae621ba439b029",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 613.1999969482422,
        "y": 593.2000122070312,
        "wires": [
            [
                "114c9d9691a7b3c0"
            ]
        ]
    },
    {
        "id": "114c9d9691a7b3c0",
        "type": "http response",
        "z": "4d7685f1362fd873",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 773.1999969482422,
        "y": 593.2000122070312,
        "wires": []
    },
    {
        "id": "e2f170af310ebc23",
        "type": "modbus-server",
        "z": "8e0c0ac424cfc508",
        "name": "Simulated PLC",
        "logEnabled": false,
        "hostname": "0.0.0.0",
        "serverPort": "10505",
        "responseDelay": 10,
        "delayUnit": "ms",
        "coilsBufferSize": 10000,
        "holdingBufferSize": 10000,
        "inputBufferSize": 10000,
        "discreteBufferSize": 10000,
        "showErrors": false,
        "showStatusActivities": false,
        "x": 400,
        "y": 80,
        "wires": [
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "8c4592a838b4c2b9",
        "type": "inject",
        "z": "8e0c0ac424cfc508",
        "name": "Write Values [12, 34, 56]",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.5,
        "topic": "",
        "payload": "[12,34,56]",
        "payloadType": "json",
        "x": 430,
        "y": 180,
        "wires": [
            [
                "c0b2d3e4f5a6b7c8"
            ]
        ]
    },
    {
        "id": "c0b2d3e4f5a6b7c8",
        "type": "modbus-write",
        "z": "8e0c0ac424cfc508",
        "name": "Write to PLC (FC16)",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "1",
        "server": "cfaf5b1b490d1f1f",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 800,
        "y": 180,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "1a2b3c4d5e6f7g8h",
        "type": "modbus-read",
        "z": "8e0c0ac424cfc508",
        "name": "Poll PLC (FC3)",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "3",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "cfaf5b1b490d1f1f",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 400,
        "y": 280,
        "wires": [
            [
                "9i0j1k2l3m4n5o6p"
            ],
            []
        ]
    },
    {
        "id": "9i0j1k2l3m4n5o6p",
        "type": "function",
        "z": "8e0c0ac424cfc508",
        "name": "Save to Flow Context",
        "func": "flow.set(\"simData\", {\n    timestamp: new Date().toISOString(),\n    registers: msg.payload,\n    status: \"Active\"\n});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "a1b2c3d4e5f6g7h8",
        "type": "http in",
        "z": "8e0c0ac424cfc508",
        "name": "",
        "url": "/api/simdata",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 390,
        "y": 400,
        "wires": [
            [
                "i9j0k1l2m3n4o5p6"
            ]
        ]
    },
    {
        "id": "i9j0k1l2m3n4o5p6",
        "type": "function",
        "z": "8e0c0ac424cfc508",
        "name": "Read Context",
        "func": "msg.payload = flow.get(\"simData\") || { error: \"Waiting for first Modbus read...\" };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 400,
        "wires": [
            [
                "q7r8s9t0u1v2w3x4"
            ]
        ]
    },
    {
        "id": "q7r8s9t0u1v2w3x4",
        "type": "http response",
        "z": "8e0c0ac424cfc508",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 790,
        "y": 400,
        "wires": []
    },
    {
        "id": "sim_plc_server",
        "type": "modbus-server",
        "z": "a0e1484597e10ac4",
        "name": "Simulated PLC",
        "logEnabled": false,
        "hostname": "0.0.0.0",
        "serverPort": "10506",
        "responseDelay": 10,
        "delayUnit": "ms",
        "coilsBufferSize": 10000,
        "holdingBufferSize": 10000,
        "inputBufferSize": 10000,
        "discreteBufferSize": 10000,
        "showErrors": false,
        "showStatusActivities": false,
        "x": 440,
        "y": 60,
        "wires": [
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "write_trigger",
        "type": "inject",
        "z": "a0e1484597e10ac4",
        "name": "Tick (1s)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.5,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 430,
        "y": 160,
        "wires": [
            [
                "pattern_generator"
            ]
        ]
    },
    {
        "id": "pattern_generator",
        "type": "function",
        "z": "a0e1484597e10ac4",
        "name": "Generate Pattern Data",
        "func": "// Initialize Node Context state for dynamic patterns\nlet count = context.get(\"count\") || 0;\nlet temp = context.get(\"temp\") || 200;\n\n// 1. Counter (0 to 1000 then loop)\ncount = (count + 1) % 1000;\n\n// 2. Sine Wave (simulating a cyclic process like 0-100%)\n// Scale sine wave from -1..1 to 0..1000\nlet sineValue = Math.round((Math.sin(count * 0.2) + 1) * 500);\n\n// 3. Random Noise (simulating pressure jitter 500 +/- 20)\nlet randomJitter = 500 + Math.floor(Math.random() * 40) - 20;\n\n// 4. Sawtooth Wave (0 to 100 ramp up and drop)\nlet sawtooth = count % 100;\n\n// 5. Simulated Temperature (Drifts slowly between 150 and 250)\ntemp = temp + (Math.random() > 0.5 ? 1 : -1);\nif (temp > 250) temp = 250;\nif (temp < 150) temp = 150;\n\n// Save state for the next tick\ncontext.set(\"count\", count);\ncontext.set(\"temp\", temp);\n\n// Combine into an array of 5 holding registers (16-bit integers)\nmsg.payload = [count, sineValue, randomJitter, sawtooth, temp];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 160,
        "wires": [
            [
                "bulk_writer"
            ]
        ]
    },
    {
        "id": "bulk_writer",
        "type": "modbus-write",
        "z": "a0e1484597e10ac4",
        "name": "Write 5 Registers",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "MHoldingRegisters",
        "adr": "0",
        "quantity": "5",
        "server": "7e0e8d275d67854b",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 910,
        "y": 160,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "plc_poller",
        "type": "modbus-read",
        "z": "a0e1484597e10ac4",
        "name": "Poll PLC (FC3)",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "5",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "7e0e8d275d67854b",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 440,
        "y": 260,
        "wires": [
            [
                "flow_context_saver"
            ],
            []
        ]
    },
    {
        "id": "flow_context_saver",
        "type": "function",
        "z": "a0e1484597e10ac4",
        "name": "Format & Save to Context",
        "func": "let regs = msg.payload;\n\n// We translate the raw Modbus arrays into a friendly SCADA schema\nlet data = {\n    timestamp: new Date().toISOString(),\n    rawRegisters: regs,\n    sensors: {\n        cycleCount: regs[0],\n        sineWaveValue: regs[1],\n        pressureNoise: regs[2],\n        sawtoothPattern: regs[3],\n        temperatureC: +(regs[4] / 10).toFixed(1) // E.g., translates 215 back to 21.5 C\n    },\n    status: \"Active\"\n};\n\n// Save globally to this flow\nflow.set(\"simData\", data);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "http_api_in",
        "type": "http in",
        "z": "a0e1484597e10ac4",
        "name": "",
        "url": "/api/scada",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 420,
        "y": 380,
        "wires": [
            [
                "http_api_context_read"
            ]
        ]
    },
    {
        "id": "http_api_context_read",
        "type": "function",
        "z": "a0e1484597e10ac4",
        "name": "Read Context",
        "func": "msg.payload = flow.get(\"simData\") || { error: \"Waiting for first Modbus read...\" };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 380,
        "wires": [
            [
                "http_api_response"
            ]
        ]
    },
    {
        "id": "http_api_response",
        "type": "http response",
        "z": "a0e1484597e10ac4",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 830,
        "y": 380,
        "wires": []
    }
]